/* Reset code for default  */
*{margin: 0;padding: 0;}

.wrapper{
    width: 960px;
    margin: 50px auto;
    /* margin-top: 50px; */
}
h1{
    background-color: blue;
    color: orange;
    border:1px solid greenyellow;
    border-radius: 25px;
    text-align: center;
    display: block;
    transition: all 5s ease-in;
}
.box{
    width:300px;
    float:left;
    /* display: inline; */
    margin-right: 30px;
}
.nomargin{
    margin-right: 0px;
}
.box img{
    width: 300px;
    height: 180px;
    margin-top: 20px;
}

.box h2{
    color: orange;
    margin-top: 10px;
}

.box p{
    text-align: justify;
    margin-top: 10px;
}
.box a{
    text-decoration: none;
    background-color: orange;
    color:red;
    margin: 0 auto;
    margin-top: 10px;
    padding: 3px 0;
    display:block;
    text-align: center;

    transition: all 2s ease;
}

.box a:hover{
    background-color: black;
    color: white;
}
